<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sx.book.web.mapper.slave.BooksSlaveMapper">
    <resultMap id="BooksMap" type="sx.book.web.pojo.Books">
        <result property="id" column="id"></result>
        <result property="bookName" column="bookName"></result>
        <result property="bookURL" column="bookURL"></result>
        <result property="author" column="author"></result>
        <result property="info" column="info"></result>
        <result property="typeId" column="typeId"></result>
        <result property="imgURL" column="imgURL"></result>
    </resultMap>

    <select id="selectByBooksWrapper" resultMap="BooksMap">
        select * from books ${ew.customSqlSegment}
    </select>

    <select id="selectIdByName" resultType="integer" parameterType="string">
        select id from books where bookName =#{bookName}
    </select>

</mapper>